.popup__container {
  width: 430px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 580px) {
  .popup__container {
    width: 282px;
    margin: 0 19px 0 19px;
  }
}
