@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);


@import url(../blocks/galery/galery.css);
@import url(../blocks/galery/__button-delete/galery__button-delete.css);
@import url(../blocks/galery/__button-like/galery__button-like.css);
@import url(../blocks/galery/__button-like/_active/galery__button-like_active.css);
@import url(../blocks/galery/__card/galery__card.css);
@import url(../blocks/galery/__photo/galery__photo.css);
@import url(../blocks/galery/__item/galery__item.css);
@import url(../blocks/galery/__title/galery__title.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__description/footer__description.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);
@import url(../blocks/popup/__button-save/popup__button-save.css);

@import url(../blocks/fullimage/fullimage.css);
@import url(../blocks/fullimage/__opened/fullimage__opened.css);
@import url(../blocks/fullimage/__container/fullimage__container.css);
@import url(../blocks/fullimage/__photo/fullimage__photo.css);
@import url(../blocks/fullimage/__title/fullimage__title.css);
@import url(../blocks/fullimage/__button-close/fullimage__button-close.css);
